*~
*Makefile.in
aclocal.m4
build-aux/
config.h.in
configure
Makefile
autom4te.cache/
config.h
config.log
config.status
libtool
src/.deps/
src/.libs/
src/Makefile
src/libsuinput.la
src/suinput.h.gch
src/suinput.lo
src/suinput.o
stamp-h1
index.html
examples/kbd
examples/mouse
examples/.deps
!examples/Makefile
