*.pyc
*~
.*.swp
.context
.cproject
.DS_Store
.gdbinit
.project
.settings
.swp
Build/*
Testing/
build/*
build_*/
**/*.sublime-workspace
user.sublime*
**/*.sublime-project
.pydevproject
.ropeproject
*.orig
src/modules/uORB/topics/*
src/platforms/nuttx/px4_messages/*
src/platforms/ros/px4_messages/*
Firmware.zip
unittests/build
*.generated.h
.vagrant
*.pretty
xcode
*.autosave
GPATH
GRTAGS
GTAGS
