include AUTHORS
include NEWS
include NEWS.rst
include README
include REAMDE.rst
include COPYING
include examples/*
include libsuinput/src/suinput.h
include libsuinput/src/libudev.h
include udev-rules/*
